:root {
  --brand-pink: #fac0f4;
  --primary-dark: #262426;
  --secondary-dark: #353235;
  --primary-light: #fff2ff;
  --secondary-light: #d6cbd6;

  --border-size: 4px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary-light);
}

body {
  background-color: var(--brand-pink);
}

div#wrapper {
  display: grid;
  height: 100vh;
  gap: var(--border-size);

  grid-template-rows: auto 1fr;

  >nav {
    display: flex;
    justify-content: space-between;

    background-color: var(--primary-dark);

    >div {
      padding: 10px;
    }

    >div#navItems {
      --x-scale: 2;

      display: flex;
      transform: scaleX(var(--x-scale));
      align-items: center;

      >* {
        transform: scaleX(calc(1 / var(--x-scale)));
      }

      >a {
        display: block;

        >section {
          background-color: var(--secondary-dark);
          border-radius: calc(1.5 * var(--border-size));

          border: calc(0.5 * var(--border-size)) solid var(--brand-pink);

          p {
            margin: calc(2.5 * var(--border-size));
          }
        }

        >section#selectedNavItem {
          border-width: calc(1.5 * var(--border-size));
        }
      }
    }
  }

  >main {
    background-color: var(--secondary-dark);
  }
}
