:root {
  --brand-pink: #fac0f4;
  --primary-dark: #262426;
  --secondary-dark: #353235;
  --primary-light: #fff2ff;
  --secondary-light: #d6cbd6;

  --border-size: 4px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary-light);
  text-decoration: none;
  border-color: var(--brand-pink);
}

body {
  background-color: var(--secondary-dark);
}

.font-header-roboto-mono {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
  }
}

div#wrapper {
  display: grid;
  height: 100vh;

  grid-template-rows: auto 1fr;

  >header {

    display: flex;
    justify-content: space-between;

    background-color: var(--primary-dark);

    border-bottom-width: var(--border-size);
    border-bottom-style: solid;


    >div,
    nav {
      padding: 10px;
    }

    div.icon {

      img {
        display: block;
        height: 3.5em;
      }
    }

    div#trProfilePic {
      height: 100%;
    }

    >nav {
      --item-side-margin: 25px;

      display: flex;
      align-items: center;

      >a {
        display: block;

        margin-left: var(--item-side-margin);
        margin-right: var(--item-side-margin);

        >section {
          background-color: var(--secondary-dark);
          border-radius: calc(1.5 * var(--border-size));

          border-width: calc(0.5 * var(--border-size));
          border-style: solid;

          h1 {
            font-size: 1.2em;
            margin: calc(2.5 * var(--border-size));
          }
        }

        >section#selectedNavItem {
          border-width: calc(1.5 * var(--border-size));
        }
      }
    }
  }

  >main {
    background-color: var(--secondary-dark);

    >section#courseCardContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      >article {
        margin: 1em;
        border-width: var(--border-size);
        border-style: solid;
        border-radius: calc(4 * var(--border-size));
        width: 50ch;
        aspect-ratio: 3/4;

        display: flex;
        flex-direction: column;
        align-items: center;

        >p {
          padding: 0.5em;
          font-size: 1.1em;
        }

        >img {
          width: 90%;
          aspect-ratio: 1;
        }
      }
    }

    >section#graphContainer {
      margin-top: 1em;
      height: calc(100% - 1em);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);

      #graph3-1 {
        grid-area: 1 / 3;
      }

      #graph3-2 {
        grid-area: 2 / 3;
      }

      #graph3-3 {
        grid-area: 3 / 3;
      }

      #graph2-3 {
        grid-area: 3 / 2;
      }

      #graph1-3 {
        grid-area: 3 / 1;
      }

      #graph2-4 {
        grid-area: 4 / 2;
      }

      --line-width: var(--border-size);
      --half-line: calc(var(--line-width) / 2);
      --center-margin: calc(50% - var(--half-line));

      --down-arrow: "á¯";

      >article.node {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;

        grid-template-areas:
          ". t ."
          "l center r"
          ". b .";

        justify-items: center;
        align-items: center;

        >div.main {
          grid-area: center;
          border-width: var(--border-size);
          border-style: solid;
          border-radius: 1em;
          position: relative;
          height: 100%;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          >div.completionIndicator {

            position: absolute;
            top: 0.5em;
            right: 0.5em;

            border-width: var(--border-size);
            border-style: solid;
            border-radius: 100%;
            height: 2em;
            aspect-ratio: 1/1;
          }

        }

        >div.below,
        >div.above,
        >div.left,
        >div.right {
          background-color: var(--brand-pink);
          position: relative;
        }

        >div.below,
        >div.above {
          height: 100%;
          width: var(--line-width);
        }

        >div.left,
        >div.right {
          width: 100%;
          height: var(--line-width);
        }

        >div.left {
          grid-area: l;
        }

        >div.right {
          grid-area: r;

          >div.lArrow::before {
            content: var(--down-arrow);
            rotate: 90deg;
            line-height: 70%;
            top: -368%;
            font-size: 300%;
            color: var(--brand-pink);
            position: absolute;
            right: 9%;
          }
        }

        >div.above {
          grid-area: t;

          >div.dArrow::before {
            content: var(--down-arrow);
            left: -395%;
            line-height: 70%;
            font-size: 300%;
            color: var(--brand-pink);
            position: absolute;
            bottom: 0;
          }
        }

        >div.below {
          grid-area: b;
        }
      }

      >article.completed {
        >div.main {
          >div.completionIndicator {
            background-color: var(--brand-pink);
          }
        }
      }

      >div.node {
        --ball-size: 2em;

        display: grid;
        grid-template-columns: 1fr var(--ball-size) 1fr;
        grid-template-rows: 1fr var(--ball-size) 1fr;

        grid-template-areas:
          ". t ."
          "l center r"
          ". b .";

        justify-items: center;
        align-items: center;

        >div.main {
          grid-area: center;

          border-width: var(--border-size);
          border-style: solid;
          border-radius: 100%;
          height: var(--ball-size);
          aspect-ratio: 1/1;
        }

        >div.right {
          grid-area: r;
          background-color: var(--brand-pink);
          width: 100%;
          height: var(--line-width);
        }

        >div.down {
          grid-area: b;
          background-color: var(--brand-pink);
          height: 100%;
          width: var(--line-width);
        }

        >div.left {
          grid-area: l;
          background-color: var(--brand-pink);
          width: 100%;
          height: var(--line-width);
        }
      }

      >div.vertical {

        margin-left: var(--center-margin);
        width: var(--line-width);
        background-color: var(--brand-pink);
      }
    }
  }
}
