:root {
  --brand-pink: #fac0f4;
  --primary-dark: #262426;
  --secondary-dark: #353235;
  --primary-light: #fff2ff;
  --secondary-light: #d6cbd6;

  --border-size: 4px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary-light);
  text-decoration: none;
}

.font-header-roboto-mono {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    /* font-size: 1.2em; */
  }
}

div#wrapper {
  display: grid;
  height: 100vh;

  grid-template-rows: auto 1fr;

  >header {
    display: flex;
    justify-content: space-between;

    background-color: var(--primary-dark);

    border-bottom: var(--border-size) solid var(--brand-pink);

    >div,
    nav {
      padding: 10px;
    }

    >nav {
      --item-side-margin: 25px;

      display: flex;
      align-items: center;

      >a {
        display: block;

        margin-left: var(--item-side-margin);
        margin-right: var(--item-side-margin);

        >section {
          background-color: var(--secondary-dark);
          border-radius: calc(1.5 * var(--border-size));

          border: calc(0.5 * var(--border-size)) solid var(--brand-pink);

          h1 {
            font-size: 1.2em;
            margin: calc(2.5 * var(--border-size));
          }
        }

        >section#selectedNavItem {
          border-width: calc(1.5 * var(--border-size));
        }
      }
    }
  }

  >main {
    background-color: var(--secondary-dark);

    >section#courseCardContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      >article {
        margin: 1em;
        border: var(--border-size) solid var(--brand-pink);
        border-radius: calc(4 * var(--border-size));
        width: 50ch;
        aspect-ratio: 3/4;

        display: flex;
        flex-direction: column;
        align-items: center;

        > img {
          width: 90%;
          aspect-ratio: 1;
        }
      }
    }
  }
}
